/*  ==========================
    BASE TYPOGRAPHY
    This is added as a template to help start. 
    You should change the fonts, font-sizes and anything else appropriate for your site.
    ========================== */

/* Optional, include a web font. @import must come before other styles. These examples are commented out */

/*
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500');
*/

/* The html and body selectors below set the base type for the entire page */




/* This adds space between paragraphs and list items*/
/* NOTE: most Navigations use list items so you will need to */
/* explicity set the margins on those so this rule doesn't */
/* mess up your navigation styling */


/* Base Styling for headings.
  You can and should modify these to fit your site*/



/* For each of your headings at minimum set the margin, size, line-height. 
Adjust font-weight and other properties as needed. */



/* ======================================================
   Responsive Styling and Layout
   =======================================================  */

/* ========== Use Border Box model ============ */

  
  /* ======== Basic Responsive Images and Video ========= */
 
  
  /* ======== Responsive Embedded Video ================= */
  /* to use this add a div with class videoWrapper around the iframe markup copied from YouTube or Vimeo. Then also add a ratio-16-9 (most common) or ratio-4-3 class to the wrapper depending on the aspect ratio of your video */
  /* More info here: https://codepen.io/profstein/pen/mArLRj */

  /* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */
  /* Add your CSS for the site here */

  @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
  
  
  
  
  /*********** nav ***********/
  img{
    max-width:100%;
    width:auto;
    height:auto;
  }
  header{
    box-shadow:0px 2px 28px 5px rgba(0,0,0,.1);
    position:relative;
    padding:42px;
    text-align:center;  
  }
  
  nav{
    position:absolute;
    top:15px;
    z-index:2;
    right:10px;
    display:flex;
  }
  
  nav ul{
    list-style:none;
  
  }
  
  nav > ul > li{
    display:inline-block;
    vertical-align: top;
  }
  
  nav ul ul{
    display:none;
  }
  
  nav > ul > li:hover ul{
    display:block;
  }
  
  
  nav a{
    border:5px solid  black;
    padding:8px;
    color:#000;
    text-decoration:none;
    display:block;
    font-size:12px;
    background:#fff;
    width:50px;
    margin:0 auto;
    font-family: 'Patrick Hand', cursive;
  }
  nav a:hover{
    background: #b6a5e8;
    color:#fff;
  }
  a{
    padding:8px;
    color:#000;
    text-decoration:none;
    display:block;
    font-size:24px;
    margin:0 auto;
    font-family: 'Patrick Hand', cursive;
  }
  @media screen and (min-width: 600px){
  header{
    padding:50px;
  
  }
  nav{
    right:70px;
  }
    nav a{
    font-size:16px;
    width:123px;
  }
  
  }
  
  /*******************************/
  /******** Portfolio  ********/
  /*******************************/
  
  .portfolio{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
   
    text-align:center;
    padding:0 5%;
  }
  .design{
    text-align:center;
    font-family: 'Patrick Hand', cursive;
    padding-bottom:0;
    margin-bottom:0;
  }
  .tool{
    padding-top:0; margin-top:0; 
    text-align:center;
    font-family: 'Patrick Hand', cursive;
  }
  
  .project-title{
    font-family: 'Patrick Hand', cursive;
    text-align:center;
    font-size:40px;
  }
  .project-title a:hover{
    color: #b6a5e8;	
  
  }
  images-width{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
  }
  @media screen and (min-width: 600px){
    .portfolio{
      grid-template-columns: repeat(2, 1fr);
    
       padding:0 10%;
    }
    .design{
    font-size:60px;
  }
  }
  
  @media screen and (min-width: 1200px){
    .portfolio{
      grid-template-columns: repeat(2, 1fr);
  
      padding:0 15%;
    }
  
  }
  
  /*******************************/
  /********** selfintro  ***********/
  /*******************************/
  .selfintro {
      width: 100%;
      padding: 80px 0 20px 0;
      background:#c3a8dc;
      background-position: center;
    
   
  }
  .selfintro p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
      margin-left:40px;
      font-family: 'Gloria Hallelujah', cursive;
  }
  .name {
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 15px;
      margin-left:40px;
      font-family: 'Gloria Hallelujah', cursive;
  }
  .selfintro h2 {
    display: inline-block; 
    letter-spacing: 2px;
    font-size: 15px;
    height: 18px;
    font-weight: 600;
    color:#fff;
    box-sizing: border-box;
    margin-left:40px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .experience{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 1em;  
  }
  .title{
    text-align:center;
    font-family: 'Patrick Hand', cursive;
    
  }
  .cvleft{
   padding: 0 3% 0 3% ;  
  }
  .cvright{
   padding: 0 3% 0 3%;  
  }
  .timeline-date{
    text-align:center;
    margin-top:50px;
    font-family: 'Patrick Hand', cursive;
    font-size:25px;
  }
  .job-title{
     font-family: 'Patrick Hand', cursive;
    }
  .place{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:12px;
  }
  .workdetial{
    font-family: 'Jost', sans-serif;
  }
  @media screen and (min-width: 600px){
  .experience{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .timeline-date{
    text-align:right;
  }
  .selfintro p {
          font-size: 18px;
      }
  .selfintro { 
      padding: 75px 0 20px 0;
  } 
   .place{
    font-size:14px;
    text-align:right;
  }
  .job-title{
     text-align:left;
  }
  .name {
          font-size: 40px;
      }
      
  .selfintro h2 {
          font-size: 22px;
          height: 22px;
      }
  .title{
    font-size:50px;
  }
  .cvleft{
   padding: 0 5% 0 15% ;  
  }
  .cvright{
   padding: 0 15% 0 5% ;  
  }
  .timeline-date{
    font-size:35px;
  }
  
  }/***************end minwidth600*************/
  @media screen and (min-width: 1200px){
  .selfintro { 
      padding: 100px 0 20px 0;
  } 
  .selfintro p {
          font-size: 22px;
      }   
  .name {
          font-size: 50px;
      }
   .place{
    font-size:16px;
  }    
  .selfintro h2 {
          font-size: 28px;
          height: 28px;
      }
  .cvleft{
   padding: 0 5% 0 20% ;  
  }
  .cvright{
   padding: 0 20% 0 5% ;  
  }
  }/***************end minwidth1200*************/
  
  
  /*******************************/
  /************contact************/
  /*******************************/
  
  
  .findjob{
    text-align:center; 
   font-family: 'Patrick Hand', cursive;
   color: #b6a5e8;
  padding-top:20px;
  }
  .card-contact{
    max-width: 940px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    text-align:center;
    padding:3% 15%;
  }
  .cardleft{
    align-items: center;
    margin-top: 15px;
    position: relative;
    color: ;
    margin: 10px;
  }
  .cardright{
    align-items: center;
    margin-top: 15px;
    position: relative;
    color: ;
    margin: 10px;
      }
  .cardright .input-box{
    height: 40px;
    width: 80%;
    margin: 12px 0;
    font-family: 'Patrick Hand', cursive;
  }
  .cardright .input-box input, .cardright .input-box textarea{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    font-size: 10px;
    background: #e0e1e5;
    padding: 0 15px;
    resize: none;
    border-radius: 6px;
    font-family: 'Patrick Hand', cursive;
  }
  
  
  .cardright .input-box textarea{
    padding-top: 15px;
    font-family: 'Patrick Hand', cursive;
    font-size: 10px;
  }
  .cardright .button{
    display: inline-block;
    margin-top: 10px;
  }
  .cardright .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #b6a5e8;
    font-family: 'Patrick Hand', cursive; 
  }
  .button input[type="button"]:hover{
    background: #7658d0;
  }
  .topic-text{
  font-family: 'Patrick Hand', cursive; 
  }
  .email{
    font-family: 'Patrick Hand', cursive;
    color: #afafb6;
  }
  .contactword{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:12px;
  }
  @media screen and (min-width: 600px){
    .card-contact{
      grid-template-columns: repeat(2, 1fr);
      padding:5% 10%;
    }
  .cardright{
    padding-top:25px;
  }
  .cardright .input-box{
    height: 40px;
    width: 80%;
  }
  .cardright .button{
    margin-top: 15px;
  }
  .cardright .input-box input,
  .cardright .input-box textarea{
    font-size: 18px;
    width: 90%;
  }
  .cardright .message-box{
    min-height: 110px;
  }
  .contactword{
      font-size: 18px;
  }
  }
  @media screen and (min-width: 1200px){
   .cardright .input-box{
    height: 60px;
    width: 100%;
  }
    .card-contact{
       padding:8% 20%;
    }
    .contactword{
      font-size: 20px;
  }
    .cardright{
    padding-top:45px;
  }
  }/***************end minwidth1200*************/
  
  /*******************************/
  /************detailpages************/
  /*******************************/
  .detailpage{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    text-align:center;
    padding:0 10%;
  }
  .dptitle{
      text-align:center;
     font-family: 'Patrick Hand', cursive; 
     font-size:35px;
    }
  .dpword{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:12px;
  }
  .projectdetail{
   font-family: 'Patrick Hand', cursive; 
       font-size:24px;
    
  }
  
    @media screen and (min-width: 600px){
  .detailpage{
    padding:0 15%;
  }
  .dptitle{
      text-align:center;
     font-family: 'Patrick Hand', cursive; 
     font-size:40px;
    } 
   .projectdetail{
       font-size:28px;
  }
  .dpword{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:20px;
  }
  }/***************end minwidth1200*************/
  @media screen and (min-width: 1200px){
  
   .dptitle{
     font-size:50px;
    } 
   .projectdetail{
       font-size:35px;
  }
  .dpword{
    font-size:30px;
  }
  }/***************end minwidth1200*************/
  